.ProductBar {
	width: 100%;
	padding: 20px;
}
.ProductBar button {
	border-width: 5px;
	width: auto;
	padding: 10px;
	height: 50px;
	border-radius: 10px;
	background-color: orange;
	font-size: large;
	font-weight: bold;
}
.ProductBar button:hover {
	cursor: pointer;
	transform: scale(0.995);
	transition: 0.1s ease-in-out;
	background-color: rgb(225, 146, 0);
}
.BreadCrumb {
	padding: 0px 25px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.BreadCrumb svg:hover {
	cursor: pointer;
	transform: scale(0.9);
	transition: 0.1s ease-in-out;
}
.itemsgrid {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-self: center;
	padding: 20px;
	justify-content: space-evenly;
	gap: 20px;
	width: 100%;
}

.ldsRing {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 100px;
}
.ldsRing div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
	animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
	animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes ldsRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.eggButton {
	background-color: blueviolet;
	border-radius: 100%;
	padding: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	z-index: 1000;
}
.eggButton:hover {
	cursor: pointer;
	transform: scale(0.995);
	transition: 0.1s ease-in-out;
}
